<body>

<div class="container">



  <div id="ee">
    <div class="row">
      <div class="col-6 w-35">
        <h1 id="pr"> Parcours : </h1>

        <div class="card-body" id="carddd">
          <div class="row">

            <img src="/bac.jpeg" class="col-sm-2">
            <div class="col-sm-10">
              <h2 id="lag">Lycée Abdellah Guennoun</h2>
              <h6 id="bac">Bac sciences physiques et chimiques   _____ 2022</h6>

            </div>

          </div>

        </div>
        <div class="card-body" id="card">
          <div class="row">

            <img src="/ista.jpeg" class="col-sm-2">
            <div class="col-sm-10">
              <h2 id="ista">ISTA</h2>
              <h6 id="ts">Technicien spéciélisé en develloppement mobile  _____2024</h6>

            </div>

          </div>

        </div>
        <div class="card-body" id="cardd">
          <div class="row">

            <img src="/enaa.jpeg" class="col-sm-2">
            <div class="col-sm-10">
              <h2 id="enaa">Enaa</h2>
              <h6 id="dfs">Developpeur Full-Stack _____2025</h6>

            </div>

          </div>
        </div>
      </div>
      <div class="col-1" style="border-right: 2px rgba(152,151,151,0.87) solid">

      </div>

      <div class="col-5 w-35" >

        <h1 id="cmp">Competences : </h1>
        <div class="row" id="imgs">
          <img src="/java.png" class="col-sm-3" style="margin-bottom: 10px">
          <img src="/kotlin.jpeg" class="col-sm-3" style="margin-bottom: 10px">
          <img src="/JavaScript-Emblem.png" class="col-sm-3" style="margin-bottom: 10px">
          <img src="/sql.jpeg" class="col-sm-3" style="margin-bottom: 10px">
          <img src="/flutter.jpeg" class="col-sm-3" style="margin-bottom: 10px">
          <img src="/html.jpeg" class="col-sm-3" style="margin-bottom: 10px">
          <img src="/css.jpeg" class="col-sm-3" style="margin-bottom: 10px">

        </div>
      </div>

    </div>
  </div>



</div>

</body>
