<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="nv" >
  <div class="container">
    <h1 style="font-family: 'Arial Rounded MT Bold' ; color: black"> Portfolio </h1>
    <div style="justify-content: space-between">
    <button class="btn btn-outline-dark" routerLink="accueil" id="aa">Accueil</button>
    <button class="btn btn-outline-dark" id="bb" routerLink="about" >À propos</button>
    <button class="btn btn-outline-dark" id="cc">Contact</button>
    <button class="btn btn-outline-dark" id="dd">Projets</button>

    </div>











  </div>
</nav>
</body>

<router-outlet>

</router-outlet>
