<body id="bd">
<div class="container">

  <div class="row">
    <img  id="img" src="/maimage.jpg" width="500px" height="350px" class="col-sm-4">
    <div class="col-sm-6" id="diiv">
      <h2 style="color: aliceblue" id="salut"> HELLO I'M </h2>
    <h1 id="nom" >   OUANDA  MOHAMMED AMINE ,</h1>

      <h3 id="role"> a Full-Stack & Mobile Developer</h3>
      <h6 id="txt">and this is my Github & my LinkedIn   :</h6>

      <div id="links">


        <a href="https://github.com/Ouanda-amine" target="_blank" id="gt">
         <img src="/github_PNG28.png" width="100px" height="100px">
        </a>
        <a href="https://www.linkedin.com/in/mohammed-amine-ouanda-894052269/" target="_blank">
          <img src="/10464412.png" width="160px" height="160" >
        </a>
      </div>



    </div>

  </div>


</div>


</body>

